html {
  height: 100%;
}

body {
  background-color: #ced7e0 ;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
  /* padding-left: 20px;
  padding-right: 20px; */
  background-color: #ced7e0;
  height: 1500px;
  color: #122620;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  height: 100%;

}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard */

#visibleNav{
  display: flex;
  width: 120vmin;
  max-width: 1500px;
  justify-content: space-between;
  
}
#dashboardNav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #04246c;
  color: whitesmoke;
  width: 100%;

}

#dashboardNav ul {
 float: none;
 list-style-type: none;
 display: flex;
 justify-content: start;
 align-items: center;
 padding: 0;
}

#dashboardNav ul li {
  margin: 10px;
}

#lognav{
  margin-right: 20px;
}

#gennav{
  margin-left: 20px;
}

header caption {
  width: 400px;
  font-size: 30px;
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* max-width: 1800px; */
  min-width: 1400px;
}

#mainTop {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  max-width: 1000px;
}

#balance {
  grid-area: balance;
  background-color: #fbfbfb;
  border-radius: 1em;
  box-shadow: 0px 1px 5px #b3b3b3;
  width: 400px;
  height: 500px;

}

#balance h1 {
  font-size: 25px;
}

#balance p {
  font-size: 20px;
}

#actions {
  grid-area: actions;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "send deposit"
  "link withdraw";
  width: 400px;
  height: 500px;
}

#addExpense {
  margin-top: 10px;
  color: white;
  background-color: #04246c;
  font-weight: bold;
  height: 40px;
  width: 120px;
}

/* recentActivity */
#recentActivity {
  margin: 30px;
}

#recentActivites{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.transactionRecord {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: transparent;
  border-bottom:  0.5px solid #282c347e;
  width: 900px;
}

.transactionAccount {
  font-weight: bold;
}

.transactionRunningBalance{
  font-style: italic;
}

.transactionBottom {
  display: flex;
  justify-content: space-between;
}

.transactionAmount {
  font-weight: bold;
}

/* actions */

#actions div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#actions div div{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #122620;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send {
  grid-area: send;
}

#senddiv img {
  height: 20px;
}

#link{
  grid-area: link;
}

#bankdiv img {
  height: 20px;
}

#withdraw {
  grid-area: withdraw;
}

#withdrawdiv img {
  height: 20px;
}

#deposit {
  grid-area: deposit;
}

#depositdiv img {
  height: 20px;
}

#gennav li {
  margin:0 ;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard{
  height: 2.5em;
  width: 6em;
  border: 1px solid;
  border-radius: 1em;
  color: #61DBFB;
}

#lognav {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: flex;
  align-items: center;
}

#lognav li {
  margin: 6px;
  margin-right: 7px;
  display: flex;
  align-items: center;
}

#logout{
  padding-left: 10px;
}

#settings {
  height: 23px;
}

#notification {
  height: 25px;
}

#overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay.visible {
  visibility: visible;
}

#overlay.hidden {
  visibility: hidden;
}

.popup {
  z-index: 10;
  color: black;
  height: 650px;
  width: 500px;
  background-color: white;
  border-radius:1em ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#popupButtons button {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 0.2em;
  color: white;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#cancelButton {
  background-color: rgb(184, 29, 29);

}

#submitButton {
  background-color: rgb(24, 92, 18);
}

#popupInputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#popupInputs input {
  width: 380px;
  height: 50px;
  padding-left: 10px;
}

#popupInputs label {
  position: relative;
  right: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

#popupInputs div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

div#linkBankReminder {
  height: 20px;
  margin-bottom: 20px;
}

.popupStepTwo {
  z-index: 11;
  color: black;
  height: 650px;
  width: 500px;
  background-color: white;
  border-radius:1em ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

.popupStepTwo h1{
  text-align: center;
}

.popupStepTwoInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  margin-left: 50px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Login */

#logindiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: black;
  height: 500px;
  width: 430px;
  background-color: white;
  border-radius: 1em ;
  box-shadow: 0px 1px 5px #b3b3b3;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  top:0;
  text-align: center;

  top: 50%;
  transform: translateY(-50%);
}

#loginCaption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  /* position: absolute;
  top: 0px;
  text-align: center;
  left: 50%;
  transform: translateX(-59%); */
}

#missingLoginReminder {
  color: red;
  font-size: 13px;
  width: 310px;
  height: 15px;
  margin-top: 15px;
}

#missingLoginReminder p {
  margin: 0;
  text-align: left;
}


#userInput{
  margin-top: 15px;
}
#logindiv input{
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
  padding-left: 10px;
}

#loginForgot {
  width: 300px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 9px;
  margin-bottom: 25px;
  color: #0d48a8f8;
}


#loginButtons button{
  height: 50px;
  width: 154px;
  border: none;
  border-radius: 0.2em;
  color: white;
  margin-bottom: 40px;
  margin-left: 5px;  
  margin-right: 5px;
}
#loginButton {
  background-color: #0d3ea8f8;
}

#signupButton{
  background-color: #2ca80df8;
}

#adminButton  {
  font-size: 10px;
  color:gray;
  height: 10px;
  position: absolute;
  bottom: 0;
}

/* Signup */

#signupdiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: black;
  height: 680px;
  width: 480px;
  background-color: white;
  border-radius: 1em ;
  box-shadow: 0px 1px 5px #b3b3b3;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  top:0;
  text-align: center;

  top: 50%;
  transform: translateY(-50%);
}

#signupCaption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

#missingSignupReminder {
  color: red;
  font-size: 13px;
  width: 360px;
  height: 15px;
}

#missingSignupReminder p {
  margin: 0;
  text-align: left;
}

#signupdiv input{
  width: 340px;
  height: 50px;
  padding-left: 10px;
  margin-top: 15px;
}

#newNameInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signupdiv #newNameInput input {
  width: 157px;
  margin-left: 5px;
  margin-right: 5px;
}

#signupReminder {
  width: 355px;
  font-size: 10px;
  text-align: left;
  margin-bottom: 10px;
}

#createAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createButton {
  height: 50px;
  width: 355px;
  border: none;
  border-radius: 0.2em;
  color: white;
  margin-left: 5px;  
  margin-right: 5px;
  background-color: #0d3ea8f8;
  margin-bottom: 10px;
}

#backlogin {
  color: #0d3ea8f8;
  width: 100px;
  height: 30px;
  border: none;
  background-color: transparent;
  margin-bottom: 35px;
}

/* employee */
#employeeOverlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay.visible {
  visibility: visible;
}

#overlay.hidden {
  visibility: hidden;
}

.popupStepTwoInfo .confirmButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.confirmConfirm{
  height: 50px;
  width: 154px;
  border: none;
  border-radius: 0.2em;
  color: white;
  background-color: #1a6b05f8;
  margin-bottom: 40px;
  margin-left: 5px;  
  margin-right: 5px;
}

.confirmBack{
  height: 50px;
  width: 154px;
  border: none;
  border-radius: 0.2em;
  color: white;
  background-color: rgb(133, 4, 4);
  margin-bottom: 40px;
  margin-left: 5px;  
  margin-right: 5px;
}

/* Employee */
.hwalletName {
  font-size: 30px;
  font-weight: bolder;
}

#EmployeePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vmin;
}

#employeeNavigationPane {
  margin-top: 200px;

}

#employeeNavigationPane ul {
  list-style-type: none;
}

#employeeNavigationPane li {
  margin-top: 30px;
  font-size: 20px;
}

#employeeMain {
  width: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 1600px;
}

#employeeDashboardCaption{
  text-align: left;
  align-self: flex-start;
  margin-left: 40px;
  color: #04246c;
}
#employeeMainTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#employeeActions {
  width: 100%;
  display: flex;
  justify-content: center;
}

#employeeActions button {
  width: 200px;
  height: 50px;
  border: 1px solid rgb(7, 7, 77);
  border-radius: 0.5em;
  font-weight: bolder;
  border-bottom: transparent;
  border-left: transparent;
  box-shadow: -2px 0px 5px rgb(7, 7, 77);;
}

.active {
  color: white;
  background-color: #04246c;
}

#employeePopupPane {
  width: 86%;
  height: 45vmin;
  bottom: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 0.6em;
  background-color:#ffffff ;
}

#employeePopupWithdraw, #employeePopupDeposit{
  display: flex;
  flex-direction: column;

}

#withdrawHeader, #depositHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#withdrawReminder, #depositReminder {
  height: 50px;
}

#withdrawMain, #depositMain {
  display: flex;
}

#withdrawInputDiv, #depositInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-right: 20px;
}

#withdrawInputDiv input, #depositInputs input{
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
}

#withdrawUserInfo, #depositInfo{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#withdrawUserInfo input, #depositInfo input{
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
  background-color: rgb(223, 223, 223);
}

#withdrawX, #depositX {
  grid-area: wx;
  display: flex;
  justify-content: center;
  align-items: center;
}

#withdrawInputDiv button, #depositInputs button {
  width: 313px;
  height: 40px;
  background-color: #04246c;
  color: white;
}

#employeePopupTransfer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#transferHeader {
  display: flex;
  flex-direction: column;
}


#transferReminder {
  height: 50px;
}

#transferMain {
  display: flex;
}

#transferInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-right: 20px;
}

#transferInputs input  {
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
}

#transferInfoFrom{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
#transferInfoFrom input{
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
  background-color: rgb(223, 223, 223);
}

#transferInfoTo{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#transferInfoTo input {
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
  background-color: rgb(223, 223, 223);
}

#transferHeader{
  display: flex;
  align-items: center;
  justify-content: center;}

#transferX {
  display: flex;
  align-items: center;
  justify-content: center;
}

#transferInputs button {
  width: 313px;
  height: 40px;
  background-color: #04246c;
  color: white;
}

/* adduser */

#addUserForm{
  display: flex;
  flex-direction: column;
}

#addUserHeader {
  display: flex;
  flex-direction: column;
}

#addUserReminder{
  height: 50px;
}

#addUserInputs {
  grid-area: aumain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#addUserInputs input {
  padding-left: 7px;
  width: 300px;
  height: 35px;
  margin: 5px;
}

#addUserHeader{
  grid-area: auheader;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#auX {
  grid-area: aux;
}

#addUserButton button {
  width: 313px;
  height: 40px;
  background-color:#04246c ;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

#deleteUser, #editUser {
  display: flex;
  flex-direction: row;
}

#deleteUserHeader, #editUserHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deleteUserX, #editUserX{
  align-self: flex-end;
}

#deleteUserReminder, #editUserReminder{
  height: 20px;
}

#deleteUserInputs, #editUserInputs {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#deleteUserInputs input,  #editUserInputs input{
  width:300px;
  height: 40px;
  padding-left: 7px;
  text-align: center;
  margin-bottom: 10px;
}

#deleteUserInputs button, #editUserInputs button {
  width: 313px;
  height: 40px;
  background-color:#04246c ;
  color: white;
}

#deleteUserInfo, #editUserInfo {
  display: flex;
  flex-direction: column;
}

#deleteUserInfo input, #editUserInfo input{
  width:300px;
  height: 40px;
  padding-left: 7px;
  margin: 5px;
}

#deleteUserInfo input {
  background-color: rgb(223, 223, 223);
}

#editUsername {
  background-color: rgb(223, 223, 223);
}


/* MainBottom */

#employeeMainBottom {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#employeeMainPopup {
  height: 100%;
}


#allUserAccounts, #employeeTransactionLog, #employeeUserManagementLog {
  display: flex;
  min-width: 700px;
  flex-direction: column;
  align-items: center;
}

#userDataHeader,
#employeeTransactionHeader,
#employeeManagementLogHeader {
  width: 100%;
  display: flex;
  justify-content: center;

}

#userDataHeader div, 
#employeeTransactionHeader div, 
#employeeManagementLogHeader div{
  display: flex;
  padding: 3px;
  border: 1px solid;
  padding: 5px;
  width: 200px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userRow,
.employeeTransaction,
.employeeLogs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userRowData,
.employeeTransactionRow,
.employeeLog {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid;
  width: 200px;
  text-align: center;
  overflow: hidden;
}

#emmployeeTabs {
  width: 100%;
  display: flex;
  justify-content: center;
}

#employeeTabs button {
  width: 200px;
  height: 50px;
  border: 1px solid rgb(7, 7, 77);
  border-radius: 0.5em;
  font-weight: bolder;
  border-bottom: transparent;
  border-left: transparent;
  box-shadow: -2px 0px 5px rgb(7, 7, 77);;
}

#employeeMainPopup{
  border: 1px solid;
  border-radius: 0.6em;
  padding: 10px;
}


footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.budgetItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background-image: url("img/trash.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 20px;
}